<div class="profile-img">
  <%= image_tag @candidate_profile.avatar if @candidate_profile.avatar.attached? %>
<div>

<dl>
  <dt><%= "#{I18n.t('candidate_profile.name')}:" %></dt>
  <dd><%= @candidate_profile.name %></dd>
  <dt><%= "#{I18n.t('candidate_profile.nickname')}:" %></dt>
  <dd><%= @candidate_profile.nickname %></dd>
  <dt><%= "#{I18n.t('candidate_profile.date_of_birth')}:" %></dt>
  <dd><%= @candidate_profile.date_of_birth.strftime('%d/%m/%Y') %></dd>
  <dt><%= "#{I18n.t('candidate_profile.formation')}:" %></dt>
  <dd><%= @candidate_profile.candidate_formation.name %></dd>
   <dt><%= "#{I18n.t('candidate_profile.description')}:" %></dt>
  <dd><%= @candidate_profile.description %></dd>
  <dt><%= "#{I18n.t('candidate_profile.experience')}:" %></dt>
  <dd><%= @candidate_profile.experience %></dd>
</dl>


<% if can? :update, @candidate_profile %>
  <div class="btn-edit">
    <%= link_to I18n.t('candidate_profile.edit'), edit_candidate_profile_path(@candidate_profile) %>
  </div>
<% end %>


<% if head_hunter_signed_in? %>
  <h4><%= "#{I18n.t('comment.comments')}:" %></h4>

    <div class="candidate-profile-comments">  
      <% @candidate.comments.each do |comment| %>
        <p><%= comment.message %></p>
        <p><%= comment.created_at.strftime("%d/%m/%Y às %H:%M") %>
      <% end %>
    </div>

  <%= link_to I18n.t('comment.comment'), new_candidate_profile_comment_path(@candidate_profile) %>
<% end %>
