<h3><%= "Novo comentário para #{@candidate_profile.nickname}." %></h3>

<%= render 'shared/errors', obj: @comment %>

<%= form_with(model: @comment, url: [@candidate_profile, @comment], local:true)  do |f| %>
  <%= f.label :message %>
  <%= f.text_area :message %>
  <%= f.submit I18n.t('comment.submit') %>
<% end %>