<h3><%= "Vaga: #{@job.title}" %></h3>

<h4>Candidatos: </h4>

<% if @subscriptions.any? %>
  <div class="subscribers"> 
    <% @subscriptions.each do |subscription| %>
      <div class="subscriber">
         <%= button_to highlight_candidate_subscription_path(subscription), class: 'markup-candidate' do %>
            <span class="icon">
              <% if subscription.unhighlighted? %>
                <i class="far fa-star" ></i>
              <% elsif subscription.highlighted? %>
                <i class="fas fa-star" ></i>
              <% end %>
            </span>
          <% end %>
        <%= link_to subscription.candidate.candidate_profile.name, 
                    subscription.candidate.candidate_profile %>
        
        <% if subscription.proposal.nil? %>
          <%= link_to I18n.t('proposal.new_proposal'), new_subscription_proposal_path(subscription) %>
        <% elsif subscription.proposal.present? %>
          <%= link_to I18n.t('proposal.sent_proposal'), proposal_path(subscription.proposal) %>
        <% end %>         
      </div>
    <% end %>
  </div>
<% else %>
  <p><%= I18n.t('job.not_have_subscribers') %></p>
<% end %>

