<h3><%= "Vaga: #{@job.title}" %></h3>

<h4>Candidatos: </h4>
<p><%= link_to "Criar proposta", new_job_proposal_path(@job) %></p>

<% if @subscribers.any? %>
  <div class="subscribers"> 
    <% @subscribers.each do |subscribe| %>
      <div class="subscriber">
         <%= button_to highlight_candidate_subscription_path(subscribe), class: 'markup-candidate' do %>
            <span class="icon">
              <% if subscribe.unhighlighted? %>
                <i class="far fa-star" ></i>
              <% elsif subscribe.highlighted? %>
                <i class="fas fa-star" ></i>
              <% end %>
            </span>
          <% end %>
        <%= link_to subscribe.candidate.candidate_profile.name, 
                    subscribe.candidate.candidate_profile %>
      </div>
    <% end %>
  </div>
<% else %>
  <p><%= I18n.t('job.not_have_subscribers') %></p>
<% end %>

