<nav class="navbar" role="navigation" aria-label="main navigation">
	<div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to  "Home", root_path %>
			<% if head_hunter_signed_in? %>
				<%= link_to I18n.t('registered_vacancies'), jobs_path %>
			<% elsif candidate_signed_in?  %>
				<% unless current_candidate.candidate_profile.nil? %>
					<%= link_to I18n.t('my_vacancies'), my_vacancies_path %>
				<% end %>
			<% end %>
		</div>

		<div class="navbar-end">
			<% if head_hunter_signed_in? %>
				<div class="navbar-item">
					<%= current_head_hunter.email %>
				</div>
				<%= link_to I18n.t('log_out'), destroy_head_hunter_session_path,
													method: :delete, class: 'navbar-item' %>

			<% elsif candidate_signed_in? %>
				<div class="navbar-item has-dropdown is-hoverable">
					<%= link_to current_candidate.email, '#', class: 'navbar-link' %>

					<div class="navbar-dropdown">
						<% if current_candidate.candidate_profile.nil? %>
							<%= link_to I18n.t('profile'), 
														new_candidate_profile_path, class: 'navbar-item' %>
						<% elsif current_candidate.candidate_profile.valid? %>
							<%= link_to I18n.t('profile'), 
														candidate_profile_path(current_candidate.candidate_profile), 
														class: 'navbar-item' %>
						<% end %>
						<%= link_to I18n.t('log_out'), destroy_candidate_session_path,
													method: :delete, class: 'navbar-item'%>
					</div>
				</div>

			<% else %>
				<div id="log-in" class="navbar-item has-dropdown is-hoverable">
					<%= link_to I18n.t('log_in'), '#', class: 'navbar-link' %>
						
					<div class="navbar-dropdown">
						<%= link_to  I18n.t('sign_up_as_candidate'), 
																new_candidate_session_path,
																class: 'navbar-item'%>
						<%= link_to  I18n.t('sign_up_as_head_hunter'), 
																new_head_hunter_session_path,
																class: 'navbar-item'%>
					</div>
				</div>

				<div id="sign-up" class="navbar-item has-dropdown is-hoverable">
					<%= link_to I18n.t('sign_up_home_button'), '#', 
														class: 'navbar-link' %>

        	<div class="navbar-dropdown">
						<%= link_to  I18n.t('sign_up_as_candidate'), 
																new_candidate_registration_path,
																class: 'navbar-item'%>
						<%= link_to  I18n.t('sign_up_as_head_hunter'), 
																new_head_hunter_registration_path,
																class: 'navbar-item'%>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</nav>